In [132]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
# using this we can train and predict the model
from sklearn.model_selection import train_test_split
# we can easily split our data set into two sets
from sklearn.metrics import accuracy_score
import joblib

# to save  and load the set we csn use joblib

In [133]:
music_data = pd.read_csv('music.csv')
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [134]:
X = music_data.drop(columns=['genre'])
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [135]:
y = music_data['genre']
y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [136]:
X_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.2)
# it returns tuple first two sets are inout reaming variables are output sets
# it's set to 0.2, which means that 20% of the data will be used for testing, and the remaining 80% will be used for training.

In [137]:
model = DecisionTreeClassifier() #creating model
model.fit(X,y) #train it
joblib.dump(model,'music_recommender.joblib') # here we are storing model in file
pred = model.predict([[21,1],[22,0]]) #making prediction based on the model
pred

/home/haritha/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['HipHop', 'Dance'], dtype=object)

In [138]:
model = DecisionTreeClassifier()
model.fit(X_train,y_train)
pred = model.predict(x_test)
score = accuracy_score(y_test,pred)
score

1.0

In [139]:
model = joblib.load('music_recommender.joblib')
pred = model.predict([[21,1]])
pred

/home/haritha/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['HipHop'], dtype=object)